@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    background: #ffdae1;
} 

.calculator{
  width: 360px;
  background-color: #2c4343;
  padding: 30px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 8px;
  box-shadow: 0 20px 50px rgba(0,5,24,0.4);

}
.screen{
    width: 100%;

}
.screen input{
    width: 100%;
    padding: 15px 10px;
    text-align: right;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 35px;
}

.screen input::placeholder{
    color: #9490ac;
}

.all-buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
    margin-top: 40px;
}

.all-buttons input[type="button"]{
    font-size: 20px;
    padding: 17px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    border: 0.5px solid rgba(240,240,240,0.188); 
}
.all-buttons input[type="button"]:hover{
    border: 0.5px solid #f26b83;
    box-shadow: rgba(242,107,132,0.384);
    transition: all 0.3s ease;
}

.all-buttons input[type="button"]:active{
    transform: scale(1.2);
}

input[type="button"]#equal{
    grid-row: span 2;
    background-color: #f26b83;;

}
input[type="button"][value="0"]{
   grid-column: span 2;
}
